/* Estilos do arquivo estilo_login.css */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins&display=swap');

body {
    margin: 0;
    font-family: "Noto Sans", sans-serif; /* Define a fonte padrão como "Noto Sans" */
}  

body * {
    box-sizing: border-box;
}

.main-login {
    width: 100vw;
    height: 100vh;
    background-color: #201b2c;
    display: flex;
    justify-content: center;  
    align-items: center;
}

.left-login {
    width: 50vw;
    right: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login > h1 { 
    font-size: 3vw;
    color: #ff9900;
}

.left-login-image {
    width: 35vw;
}

.rigth-login {
    width: 50vw;
    right: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-login > h1 { 
    color: #ff8800;
    font-weight: 800;
    margin: 0;
}

.textfield {
    width: 100%;  
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; 
    margin: 10px 0px; 
}

.textfield > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #314969;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfield > label {
    color: #f0ffffde;
    margin-bottom: 10px;
}

.textfield > input::placeholder {
    color: #f0ffff94;
}

.btn-login {
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background: #ff9900;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #ff730056;
}

@media only screen and (max-width: 950px) {
    .card-login {
        width: 85%;
    }
}

@media only screen and (max-width: 600px) {
    .main-login {
        flex-direction: column;
    }

    .left-login > h1 {
        display: none;
    }
    
    .left-login {
        width: 100%;
        height: auto;
    }

    .rigth-login {
        width: 100%;
        height: auto;
    }

    .left-login-image {
        width: 50vh;
    }

    .card-login {
        width: 90%;
    }
}

/* Estilos do arquivo estilo_menu.css */
body {
    font-family: 'Roboto', sans-serif; /* Define a fonte padrão como "Roboto" */
    background-color: #1a0e0da8; /* Adiciona uma cor de fundo ao body */
    background-image: url('views/img/foccus.png'); /* Adiciona uma imagem de fundo ao body */
    background-repeat: no-repeat;
    background-position: center center; 
    background-size: cover;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: #222; 
    color: #fff;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    overflow-y: auto; 
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 10px;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
    display: inline-flex;
    border-radius: 5px;
    transition: all 0.3s ease; 
    position: relative;
}

.sidebar a:hover {
    background-color: #333;
    transform: translateX(5px);
}

.sidebar .submenu {
    max-height: 0;
    margin-left: 20px;
    overflow: hidden;
    transition: max-height .5s ease;
}

.sidebar li:hover .submenu {
    max-height: 150px;
    transition: max-height .5s ease;
}

.sidebar h2 {
    color: #ff9800;
    margin-bottom: 10px;
    font-weight: 700;
}

.sidebar a i {
    margin-right: 10px; 
}

.sidebar .submenu a i {
    font-size: 12px;
}

/* ... seus estilos CSS ... */

#formulario-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000; 
}

.sidebar a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
    position: relative;
    transition-delay: 0.2s; /* Adiciona um delay de 0.2 segundos */
}

.sidebar a:hover {
    background-color: #333;
    transform: translateX(5px);
}

#formulario-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.sidebar {
    /* ... outros estilos da sidebar ... */
    overflow-y: auto; /* Adiciona a barra de rolagem vertical */
}

.submenu {
    background-color: #333; /* Cor de fundo diferente para os submenus */
}

.formulario {
    display: none; /* Inicialmente oculto */
    position: fixed;
    flex-direction: column; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(8, 6, 3, 0.527);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1000; /* Garante que o formulário fique acima de outros elementos */
}

.elemento {
    display: inline-flex;
    padding: 0 .8vw;
    width: auto;
    margin-left: .2vw;
    margin-top: 1.5em;
}

.inputgeral {
    margin-top: .4em;
    padding: .5em;
    border: none;
    border-radius: 3px;
    font-size: 15px;
    height: auto;
}

.di {
    text-align: center;
}

.submitbtn {
    margin-top: 2em;
    font-size: 20px;
    margin-bottom: .5em;
    border-radius: 6px;
    padding: .3em 1.4em;
    color: #fff;
    border-color: #96d90d;
    background: #96d90d;
    cursor: pointer;
    transition: .8s;
}

.submitbtn:hover {
    background: #fff;
    color: #96d90d;
    border-color: #fff;
}

.cancelbtn {
    margin-top: 2em;
    font-size: 20px;
    margin-bottom: .5em;
    border-radius: 6px;
    padding: .3em 1.4em;
    color: #fff;
    border-color: #d90d0d;
    background: #d90d0d;
    cursor: pointer;
    transition: .8s;
}

.cancelbtn:hover {
    background: #fff;
    color: #d90d0d;
    border-color: #fff;
}

.selectgeral {
    margin-top: .4em;
    padding: .5em;
    border: none;
    border-radius: 3px;
    width: 13em;
    font-size: 15px;
    height: auto;
}